header{
background-image: url('../images/register.jpg');
height: 50vh;

}
header a{
 color: #F1F3F4;
}
input{
   border: 2px solid grey;
 margin: 20px;
}

p{
 margin: 50px;
 text-size:
}
Carley • Now
